@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" style="text-align: center;">Trang web xây dựng thời khóa biểu</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" style="text-align: center;">Đại học Bách Khoa Hà Nội</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>