@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        <a href=@Url.Action("Index", "Profile")><i class="fa fa-user fa-fw"></i> Chỉnh sửa thông tin </a>

    </li>
    <li class="divider"></li>

    <li>
        <a href=@Url.Action("ChangePassword", "Profile")><i class="fa fa-user fa-fw"></i> Đổi mật khẩu</a>

    </li>
    <li class="divider"></li>

    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()

            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất </a>
        }
    </li>
}